<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TeddyToday</title>
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <style>
        body {
            background-color: rgb(86, 133, 209);
            font-family: 'Press Start 2P', cursive;
            color: azure;
            text-align: center;
        }

        h3 {
            margin-top: 50px;
        }

        a {
            display: inline-block;
            margin: 20px;
            color: azure;
            text-decoration: none;
            font-size: 18px;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>

    <h3>The quick brown fox jumps over the lazy dog.</h3>

    <a href="downloads.html" title="Downloads">Downloads</a>
    <a href="hobbies.html" title="Hobbies">Hobbies</a>

</body>
</html>
